/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~general tags~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body { 
  background: url("../images/suFront1.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white; 
  font-family: Calibri, sans-serif;
  line-height: 1.5em;
  text-align: justify;
  min-width: 320px;
  max-width: 100%;
  margin: auto;
}


@media only screen and (min-width: 900px) {
 body {
  max-width: 940px;
 }
}




h1{
	margin-bottom: 0.25em;
	color: rgb(0,177,225);	
	font-size: 1.5em;
}



h2 {  
	margin-top: 0;
	margin-bottom: 0.25em;
  font-size: 1.2em;
  color: rgb(0,177,225);	
}

h3 {  
margin-top: 0;
  font-size: 1em;
}

p {
   margin-top: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
  margin: auto;
  padding: 120px 0 5px 0;
}

header img{
  display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 376px;
	width: 90%;
	padding: 5px 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~navigation~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav {
  margin-bottom: 2px;
  
  color: rgb(0,177,225);

  background-color: rgba(0,0,0,0.7);
  
  
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
 
}

nav ul li {
  padding: 0;
  display: inline-block;
}

nav a {
  padding: 4px 7px;
  display: block;
  text-decoration: none;
  outline: none;
}

#button1{
	padding-left: 12px;

}

#button2{
display: none;
}

@media only screen and (min-width: 430px) {
  #button2 {
  display: block;
  }
}

.dropdown-links {
    display: none;
	position: absolute;
    z-index: 1;
	background-color: rgba(0,0,0,0.8);
}

.dropdown:hover .dropdown-links {
    display: block;
}

.dropdown-links a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
	padding: 5px 15px;
}

a:link { color: rgb(0,177,225); }

a:visited { color: rgb(0,177,225); }

a:hover { 
  background-color: black;
}
.active {
    background-color: rgba(255,255,255,0.3);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~main content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main {
  padding: 5px 20px;
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 2px;
}

table { 
  margin: 20px 0;
}

th {
  color: rgb(0,177,225);
}

table th, table td {
  padding-left: 2%;
}

input[type=email]{
	width: 200px;
}

ul {
	list-style-type: square;
}

textarea {
  resize: none;
  overflow: auto;
  width: calc(100% - 4px);
  min-height: 20px;
  font-family: Calibri, sans-serif;
  line-height: 1.5em;
}


main>img {
  float: right;
  margin: 10px 0;
}

figure {
	
}

.container {
    display: block;
}

.container2 {
    display: block;
	padding: 10px, 20px;
	margin: 10px, 1%;
	overflow: auto;
}

div img {
	float: right;
	margin: 10px;
	padding: 1%;
	min-height: 110px;
	max-width: 100%;
    max-height: 100%;
	max-height: 300px;
	margin-top: 0;
	
}

main figcaption {
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  clear: both;
  font-size: 0.75em;
  text-align: center;
  padding: 3px 5%;
  color: rgb(0,177,225);
  
  background-color: rgba(0,0,0,0.3);
}

footer p {
	margin-bottom: 0;
}

footer ul {
		padding-left: 0;
	    margin: 0;
}

footer li {
	    display: inline-block;
		margin: 0 5px;
}

.italic {
  font-style: italic;
}

/* ~~~end~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/