/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~general tags~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

:root {
	--font-size: 16px;
	--line-height: 1.5em;
}


@media (min-width: 2100px) {
	:root {
		--font-size: 1.3em;
	}
}

body {
	background: url("../images/suFront1.jpg") no-repeat center fixed;
	background-size: cover;
	color: white;
	font-family: Calibri, sans-serif;
	line-height: var(--line-height);
	font-size: var(--font-size);
	text-align: justify;
	min-width: 262px;
	max-width: 1024px;
	margin: auto;
}


h1{
	font-size: calc(1.5 * var(--font-size));
	margin-top: 0;
	margin-bottom: 0.25em;
	color: rgb(0,177,225);
}



h2 {
	font-size: calc(1.4 * var(--font-size));
	margin-top: 0;
	margin-bottom: 0.25em;
	color: rgb(0,177,225);
}


p {
	margin-top: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
	padding: 120px 0 5px 0;
}

header img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 376px;
	width: 90%;
	padding: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~navigation~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav {
	margin-bottom: 2px;
  	color: rgb(0,177,225);
	background-color: rgba(0,0,0,0.7);
	
	
}



nav ul {
	padding: 0;
	margin: 0;
	font-size: 0;
}

nav ul li {
	display: inline-block;
	font-size: var(--font-size);
}

nav a {
	padding: 6px 7px;
	display: block;
	text-decoration: none;
	outline: none;
	
}

#leftmost{
	padding-left: 12px;
}

#rightmost, #rightmost2nd{
	display: none;
}

@media (min-width: 321px) {
	#rightmost2nd {
		display: block;
	}
}

@media (min-width: 432px) {
	#rightmost {
		display: block;
	}
}




.dropdown-links {
    display: none;
	position: absolute;
    z-index: 1;
	background-color: rgba(0,0,0,0.8);
}

.dropdown:hover .dropdown-links {
    display: block;
}

.dropdown-links a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
	padding: 5px 15px;
}

a:link {
	color: rgb(0,177,225);
}

a:visited {
	color: rgb(0,177,225);
	}

a:hover {
	background-color: black;
}
.active {
    background-color: rgba(255,255,255,0.2);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~main content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


main {
	padding: 10px 15px;
	background-color: rgba(0,0,0,0.7);
	margin-bottom: 2px;
}

main ul{
	text-align: left;
}

table {
	margin: 20px 0;
}

th {
	color: rgb(0,177,225);
}

table th, table td {
	padding-left: 2%;
}

input[type=email]{
	width: 200px;
}


textarea {
	resize: none;
	overflow: auto;
	width: calc(100% - 4px);
	font-family: Arial, sans-serif;
}

div {
	overflow: auto;
}

div.key{
	width: 25%;
	display: block;
	margin: 0;
}

img{
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
	clear: both;
	font-size: calc(0.75 * var(--font-size));
	text-align: center;
	color: rgb(0,177,225);

	background-color: rgba(0,0,0,0.3);
}

footer p {
	margin-bottom: 0;

}

footer ul {
	padding-left: 0;
	margin: 0;
}

footer li {
    display: inline-block;
	margin: 0 5px;
}


/* ~~~end~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~



@media (min-width: 1440px) {
	nav {
		font-size: 1.3em;
	}

	footer {
		font-size: 1em;
	}

	p,ul {
		font-size: 1.3em;
	}

	h1{
		font-size: 2em;
	}

	h2{
		font-size: 1.75em;
	}

	div.key{
		width: 25%;
		display: block;
		margin: 0;
	}

	img{
		max-width: 80%;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
}
*/
